.about_main {
    display: flex;
    justify-content: center;
}
.about_ceo_box {
    background: linear-gradient(90deg, #12121290 0%, #e6683c 25%, #c515058c 50%,  75%, #c6993e 100%);
    color: #121212;
    padding: 20px 50px;
    width: 70%;
    max-width: 1000px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 5px;
}
.about_ceo_box h2,
.about_ceo_box h3 {
    color: #c6993e;
    max-width: 30ch;
}
.about_ceo_box img {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    border: 5px solid #666;
}
.about_ceo_box p {
    max-width: 60ch;
}
.about_ceo_box ul {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.about_ceo_box ul li {
    max-width: 60ch;

}
@media (max-width: 780px) {

}
@media(max-width: 350px) {
    .about_ceo_box img {
        width: 250px;
        height: auto;
    }
}
