home_main {
    display: flex;
    flex-direction: column;
    background-color: #000;
}
.hero_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 100px;
}

.hero_box  {
    height: 100%;
    width: 70%;
    min-width: 350px;
    max-width: 1000px;
    border-radius: 20px;
    /* padding: 0 15px; */
    background-color: #caca29;
    z-index: 2;
    box-shadow: 0 0 3px #caca29;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    gap: 20px;
}
.hero_box 
.food-box 
.food_description 
button {
    width: fit-content;
    padding: 7px 14px;
    background-color: black;
    color: #caca29;
    border-radius: 5px;
    margin-top: 30px;
}

.food-box {
    flex: 2;
    height: 100%;
    display: flex;
    border-radius: 16px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}
.transition {
    animation: slideInLeft 1.2s cubic-bezier(0.67, -0.55, 0.27, 1.55) forwards;
}
@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
/*.food-box.show {
    opacity: 1;
    transform: translateY(0);
}

.food-box.hide {
    opacity: 0;
    transform: translateY(20px);
}*/

.food-box img {
    height: auto;
    width: 350px;
    flex: 0.5;
    border-radius: 12px;
}

.food-box .food_description {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.food-box h2 {
    font-size: 22px;
    color: #333;
}

.food-box p {
    margin-top: 8px;
    font-size: 15px;
    color: #666;
    max-width: 40ch;
}

.food-box-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.review_section {
    background-color: #caca29;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

.review_box {
    background-color: #000;
    height: 400px;
    width: 70%;
    min-width: 300px;
    max-width: 1000px;
    border-radius: 20px;
    color: #caca29;
    display: flex;
    align-items: center;
    justify-content: center;
}
.review_loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: transform 0.6s ease, opacity 0.2s ease;
    opacity: 0;
    transform: translateX(100%);
}
/* .show {
    opacity: 1;
    transform: translateX(0);
} */
/* .hide {
    opacity: 0;
    transform: translateX(-100%);
} */
.review_box p {
    max-width: 30ch;
}

@media(max-width: 780px) {
    .hero_section,
    .review_section{
        padding: 50px 20px 100px;
    }
    .hero_box {
        height: 500px;
    }
    .food-box {
        flex-direction: column-reverse;
    }
}
@media(max-width: 500px) {
    .food-box img {
        width: 270px;
    }
}