.menu_main {
    position: relative;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.menu_main::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("../../assets/images/bg1.webp") no-repeat center/cover;
    filter: blur(15px);
    z-index: -1;
}
.food_card {
    width: 70%;
    min-width: 350px;
    max-width: 1000px;
    height: fit-content;
    padding: 20px 0;
    background-color: #c6993e;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 20px;
    border-radius: 5px;
}

.food_card > div > h2,
.food_card > div > p {
    max-width: 15ch;
}

.food_picture {
    width: 250px;
    height: 250px;
    background-color: #121212;
    border-radius: 8px;
}

.orderBtn {
    background-color: #c51605;
    color: #fafafa;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
    &:hover {
        background: #a31304;
    }
}


@media(max-width: 500px) {
    .food_card {
        flex-direction: column-reverse;
    }
}